#camera{
    width: 360px;
    height: 250px;
    border: 1px solid salmon;
}

#logo_img{
    width: 150px;
    border-radius: 100%;
}

#textbox{
    width: 300px;
}

body{
    background-color: rgb(247, 144, 144);
}